.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 45px;
    padding: 35px;
    margin: 40px 100px;
    background-color: #f6f6f6;
    border-radius: 25px;
}

@media screen and (max-width: 375px) {
    .gallery {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 0;
        background-color: white;
        margin: 15px;
        border-radius: 0;
    }
}