footer {
    padding: 30px 100px;
    height: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
    img {
      width: 122px;
      height: 40px;
      margin: 50px 0 30px 0;
    }
    .footer-text {
      display: flex;
      align-items: center;
      font-size: 24px;
    }
  }

@media screen and (max-width: 375px) {
  footer {
    padding: 30px 100px;
    height: 180px;
    img {
      width: 122px;
      height: 40px;
      margin: 50px 0 30px 0;
    }
    .footer-text {
      font-size: 12px;
      width: 100px;
      text-align: center;
      .icon-c {
        font-size: 12px;
      }
    }
  }

}